/* common shared styles */
body{
    'Open Sans', sans-serif;
}
/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav title{
    color: #181818;

font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.text-primary{color: orangered;}
nav > ul{
    display: flex;
    align-items: center;
}
nav  li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: var(--dark-02, #474747);
}
.btn-primary{
    
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 19px 35px;

}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner-greating{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
}
.hardy{
    width: 584px;
height: 676px;
}
.para{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

