/* common shared styles */
body{
    'Open Sans', sans-serif;
}
/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav title{
    color: #181818;

font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.text-primary{color: orangered;}
nav > ul{
    display: flex;
    align-items: center;
}
nav  li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: var(--dark-02, #474747);
}
.btn-primary{
    
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 19px 35px;

}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    max-width: 1600px;
    max-height: 837px;
    
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner-greating{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}
.hardy{
    width: 584px;
height: 676px;
}
.para{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.bnr-contant{
    max-width: 500px;
}

/* main section styles */
.section-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    font-family: Open Sans;
    
}
main{
    
    padding-top: 30px;
    
   
}

/* about section styles */
.about{
   margin: 130px 230px;
   padding: 209px 157px 221px 156px;
   background-color: #FFF8F3;
   border-radius: 10px;
   max-width: 1140px;
   max-height: 550px;
   text-align: center;

  

}
.section-description{
    max-width: 827px;
    max-height: 120px;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.about-info-contain{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.about-info{
    text-align: center;
    
}
#what-i-do-description{
    padding: 30px 156px;

}
.what-i-do{
    margin: 130px 230px;
    
    background-color: ;
    border-radius: ;
    max-width: 909px;
    max-height: 90px;
    text-align: center;
}
.skill-container{
   display: flex;
   gap: 24px;
   text-align: left;}
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}


.section-title{
    text-align: center;
}


   
   
   


